@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto') format('css');
    src: url('../Roboto/Roboto-Regular.ttf') format('truetype');
}
font {
    font-family: Roboto, sans-serif;
    color: white;
}
basefont {
    font-family: Roboto, sans-serif;
    color: white;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('https://fonts.googleapis.com/css?family=Roboto') format('css');
    src: url('../Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('https://fonts.googleapis.com/css?family=Roboto') format('css');
    src: url('../Roboto/Roboto-Light.ttf') format('truetype');
}