@import "font-default.css";
.linkedin-div {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    margin: 10px;
}
figure {
    /*border: 1px #cccccc solid;*/
    padding: 4px;
    margin: auto;
    grid-column: 4 / 5;
    grid-row: 2 / 10;
}

figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
}
.center-img-of-ctp {
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: 700px;
    margin: 10px;

}

.center-img-of-ctp:hover {
    opacity: 50%;
}

.p-txt-root-index {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: auto;
}

.charlies-links-div {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    flex-direction: column;
    flex: 1;
    display: flex;
}
/*.charlies-links-div a {*/
/*    color: #b3d4fc;*/
/*}*/
/*.charlies-links-div a:visited {*/
/*    color: #105cb6;*/
/*}*/
/*.charlies-links-div a:hover {*/
/*    color: #6f97dd;*/
/*}*/
