@import "font-default.css";
@import "body.css";

html,
button,
input,
select,
textarea {
    font-family: Roboto, sans-serif;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

/* Page content */
@media only screen and (min-width: 540px)  {
    /* Style adjustments for viewports that meet the condition */
    body {

        display: flex !important;
        grid-column: span;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: repeat(auto-fit, auto);
    }
    @media screen and (max-width: 1000px) {
        body {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-template-rows: repeat(auto-fit, auto);
        }
    }
    @media screen and (min-width: 1000px) {
        body {
            display: grid;
            grid-template-columns: 100px auto auto auto auto;
            grid-template-rows: repeat(auto-fit, auto);
        }
    }
}




/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + body {
    padding-top: 60px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

footer {
    grid-column: 1 / 5;
    grid-row: 6 / 6;
}